.userinfocontainer{
    background-color: var(--color-bg-dark);
    flex: 1 1 6%;
    display: flex;
    justify-content: space-between;
}
.userinforightcontainer{
    flex: 0 1 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 21px;
    margin-right: 21px;
}
.userinfoleftcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 auto;
}