.userinfocontainer{
    flex: 1 1 6%;
    display: flex;
    justify-content: space-between;
}
.userinforightcontainer{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
}
.userinfoleftcontainer{
    flex: 1 1 auto;
}